[Unit]
Description=Send IP Email on Boot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/aiseed/dna-control-system/send_ip_email.py
WorkingDirectory=/home/aiseed/dna-control-system
StandardOutput=append:/home/aiseed/send_ip_email.log
StandardError=append:/home/aiseed/send_ip_email_error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
